<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}symblog{% endblock %} - symblog</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <section id="wrapper">
            <div class="top">
                <header id="header">
                    <div class="logo">
                        <img src="{{ asset('img/logo_drap.png') }}">
                    </div>
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li><a href="{{ path('MainLandingBundle_homepage') }}">Home</a></li>
                                <li><a href="{{ path('MainLandingBundle_login') }}">Zaloguj</a></li>
                                <li><a href="{{ path('MainLandingBundle_register') }}">Rejestracja</a></li>
                                <li><a href="{{ path('MainLandingBundle_rank') }}">Ranking</a></li>
                                <li><a href="{{ path('MainLandingBundle_statute') }}">Regulamin</a></li>
                                <li><a href="{{ path('MainLandingBundle_contact') }}">Kontakt</a></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </header>
                {% block slideshow %}{% endblock %}
            </div>
        </section>
        <section id="mainPage">
            <div class="content">
                <h3>{% block site_title %}{% endblock %}</h3>

                <div class="adBlockTop">
                    {% block adBlockTop %}{% endblock %}
                </div>

                <div class="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>

                <div class="adBlockRight">
                    {% block adBlockRight %}{% endblock %}
                </div>

                <div class="mainArticle">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </section>

        <div id="footer">
            <div class="content">

            </div>
        </div>


        {% block javascripts %}
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
            <script src="{{ asset('js/jquery.nivo.slider.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/core.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>