{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'MainLandingBundle::layout.html.twig' %}

{% block slideshow %}
    <div id="slideShow">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="{{ asset('img/slide_first.png') }}" alt="" />
                <img src="{{ asset('img/slide_first.png') }}" alt="" />
                <img src="{{ asset('img/slide_first.png') }}" alt="" />
            </div>
        </div>
    </div>
{% endblock %}

{% block site_title %}
    Strona główna projektu
{% endblock %}

{% block adBlockTop %}
    <div class="item"></div>
{% endblock %}

{% block adBlockRight %}
    <div class="item"></div>
{% endblock %}

{% block sidebar %}
    <div class="item">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non fringilla elit. Suspendisse malesuada ultricies erat eget convallis. In at metus nibh. Duis pulvinar odio et magna luctus sagittis.</p>
    </div>
    <div class="item">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non fringilla elit. Suspendisse malesuada ultricies erat eget convallis. In at metus nibh. Duis pulvinar odio et magna luctus sagittis.</p>
    </div>
{% endblock %}

{% block body %}
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non fringilla elit. Suspendisse malesuada ultricies erat eget convallis. In at metus nibh. Duis pulvinar odio et magna luctus sagittis. In imperdiet iaculis facilisis. Quisque vehicula pellentesque dictum. Donec pellentesque libero pretium lorem venenatis scelerisque non convallis metus. Sed sit amet massa vitae diam interdum ultrices. Nam et sapien eget quam iaculis iaculis. 
    </p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non fringilla elit. Suspendisse malesuada ultricies erat eget convallis. In at metus nibh. Duis pulvinar odio et magna luctus sagittis. In imperdiet iaculis facilisis. Quisque vehicula pellentesque dictum. Donec pellentesque libero pretium lorem venenatis scelerisque non convallis metus. Sed sit amet massa vitae diam interdum ultrices. Nam et sapien eget quam iaculis iaculis. 
    </p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non fringilla elit. Suspendisse malesuada ultricies erat eget convallis. In at metus nibh. Duis pulvinar odio et magna luctus sagittis. In imperdiet iaculis facilisis. Quisque vehicula pellentesque dictum. Donec pellentesque libero pretium lorem venenatis scelerisque non convallis metus. Sed sit amet massa vitae diam interdum ultrices. Nam et sapien eget quam iaculis iaculis. 
    </p>
{% endblock %}
