{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'MainLandingBundle::layout.html.twig' %}

{% block site_title %}
    Rejestracja
{% endblock %}

{% block adBlockTop %}
    <div class="item"></div>
{% endblock %}

{% block adBlockRight %}
    <div class="item"></div>
{% endblock %}

{% block sidebar %}
    <div class="item">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non fringilla elit. Suspendisse malesuada ultricies erat eget convallis. In at metus nibh. Duis pulvinar odio et magna luctus sagittis.</p>
    </div>
    <div class="item">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non fringilla elit. Suspendisse malesuada ultricies erat eget convallis. In at metus nibh. Duis pulvinar odio et magna luctus sagittis.</p>
    </div>
{% endblock %}