@import "nivo-slider.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
body{background:#fff;}
#wrapper{width:100%;float:left;}#wrapper .top{margin:0 auto;width:960px;}
#header{width:100%;border-bottom:1px solid #9C9C9C;float:left;}#header .logo{position:relative;left:0;float:left;}#header .logo img{margin:21px 0px 19px 0px;}
#header nav{position:relative;right:0;top:43px;float:right;min-width:200px;font-family:'Open Sans',sans-serif;}#header nav ul.navigation li{display:block;list-style:none;display:inline;white-space:nowrap;}#header nav ul.navigation li a{text-decoration:none;color:#3d3d3d;padding:10px;}#header nav ul.navigation li a:hover,#header nav ul.navigation li a:focus,#header nav ul.navigation li a .active{background:#3d3d3d;color:#fff;}
#slideShow{margin-top:20px;width:960px;float:left;position:relative;}
#mainPage{width:100%;background:#2860A4;margin-top:20px;float:left;}#mainPage .content{width:960px;margin:0 auto;font-family:'Open Sans',sans-serif;color:#fff;}#mainPage .content h3{margin-top:20px;margin-bottom:20px;font-size:24px;font-weight:300;}
#mainPage .content .adBlockTop{float:right;width:700px;}#mainPage .content .adBlockTop .item{height:100px;background:#245693;margin-bottom:20px;width:100%;}
#mainPage .content .adBlockRight{float:right;width:100px;}#mainPage .content .adBlockRight .item{background:#245693;height:300px;width:100%;margin-bottom:15px;}
#mainPage .content .sidebar{float:left;width:240px;margin-bottom:20px;min-height:100px;}#mainPage .content .sidebar .item{float:left;width:100%;background:#245693;margin-bottom:15px;}#mainPage .content .sidebar .item p{line-height:19px;padding:10px;}
#mainPage .content .mainArticle{float:right;width:580px;margin-right:20px;margin-bottom:20px;background:#245693;}#mainPage .content .mainArticle p{text-align:justify;padding:10px;line-height:19px;}
#footer{width:100%;float:left;background:#3d3d3d;}#footer .content{height:100px;width:960px;margin:0 auto;}
